<div style="margin-top: 10px; " class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
  </div>

  <div class="eight wide left aligned column">
    {% include bio-network-links.html %}
  </div>
  
</div>

<div style="margin-bottom: 20px" class="ui stackable grid container">
  {% include bio-interests-1.html %}
  {% include bio-skills-1.html %}
  {% include bio-education.html %}
  {% include bio-work.html %}
  {% include bio-internships.html %}
  {% include bio-pors.html %}
  {% include bio-achievements.html %}
  {% include bio-references-1.html %}
</div>
